body {
  min-height: 100vh;
  background-image: url("../images/pawPrint.png");
  background-position: 20% 55%;
  background-repeat: space;
}

h2 {
  margin-left: 5px;
}

a {
  outline: none;
  text-decoration: none;
  color: #2f4858;
}

ul {
  list-style-type: none;
  white-space: nowrap;
  font-size: 18px;
  line-height: 28px;
  padding: 0;
}

svg,
.degCel,
.degFar {
  cursor: pointer;
}

.card-header {
  padding: 16px 8px;
  background-color: #2f4858;
  color: white;
}

.cityName {
  padding: 30px;
}

.appBody {
  max-width: 50%;
  min-width: 370px;
  box-sizing: border-box;
  margin: 100px auto;
  padding: 0 10px 10px;
  border-width: 1px 0;
  box-shadow: 0 0.5em 1.5em rgb(0 0 0 / 10%);
  line-height: 1.5;
}

.currentWeather {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0;
}

.currentWeatherNDetails {
  border: none;
}

p.feels {
  margin-bottom: 0;
}

.mainTemp {
  padding: 30px;
}

.mainTempDisplay {
  display: flex;
  white-space: nowrap;
}

.weatherDetailsContainer {
  list-style-type: none;
  padding: 0 12px;
}

.FC {
  font-size: 22px;
}

.lgIcon {
  width: 65px;
}

.dayTime {
  display: flex;
}

.weatherTip {
  font-size: 20px;
}
.weatherPuppy {
  width: 125px;
}

.forecastTemps {
  margin: 0 10px;
  padding: 0 12px;
}

.hiTemp {
  font-weight: bold;
}

.petShelter {
}

.github,
.forecastBtn {
  display: block;
  text-align: center;
}

@media (max-width: 1240px) {
  .currentWeather {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }

  .adoptPet {
    margin: 0 auto;
    text-align: center;
  }

  .dayTime {
    margin: 0 auto;
  }
}
