body {
  min-height: 100vh;
  background-image: url("../images/pawPrint.png");
  background-position: left;
}

h2 {
  margin-left: 5px;
}

a {
  outline: none;
  text-decoration: none;
  color: #2f4858;
}

ul {
  list-style-type: none;
  white-space: nowrap;
  font-size: 12px;
  line-height: 16px;
  padding: 0;
}

svg,
.degCel,
.degFar {
  cursor: pointer;
}

.card-header {
  padding: 16px 8px;
  background-color: #2f4858;
  color: white;
}

.cityName {
  padding: 30px;
}

.appBody {
  max-width: 60%;
  min-width: 370px;
  box-sizing: border-box;
  margin: 100px auto;
  padding: 0 10px 10px;
  border-width: 1px 0;
  box-shadow: 0 0.5em 1.5em rgb(0 0 0 / 10%);
  line-height: 1.5;
}

.currentWeather {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
}

.currentWeatherNDetails {
  border: none;
}

.mainTempGroup {
  display: flex;
}

.weatherDetailsContainer {
  list-style-type: none;
  padding: 0 12px;
}

.FC {
  font-size: 22px;
}

.lgIcon {
  width: 65px;
}

.weatherTipCont {
}
.weatherTip {
  font-size: 20px;
}
.weatherPuppy {
  width: 75px;
}

.forecastTemps {
  margin: 0 10px;
  padding: 0 12px;
}

.hiTemp {
  font-weight: bold;
}

.petShelter {
}

.github,
.forecastBtn {
  display: block;
  text-align: center;
}

@media (max-width: 800px) {
  .currentWeather {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    align-items: start;
    padding: 50px;
  }
  .dayTime {
    margin-left: 12px;
  }
}
